.papercard {
  width: "100%";
  display: "flex";
  align-items: "center";
}

.textcard {
  flex: 1;
  overflow-wrap: "break-word";
}
.nav-link {
  color: inherit;
}
.nav-link:hover {
  color: inherit;
}
.nav-link:focus {
  color: inherit;
}
